{{ friendModel | json }}

<div class="container-fluid">
    <h2>Friend Application Form</h2>
    <form #form="ngForm">
        <div class="form-group">
            <label>First Name</label>
            <input type="text" class="form-control" name="firstname" [(ngModel)]="friendModel.firstName">
        </div>

        <div class="form-group">
            <label>Last Name</label>
            <input type="text" class="form-control" name="lastname"  [(ngModel)]="friendModel.lastName">
        </div>

        <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" name="email"  [(ngModel)]="friendModel.email">
        </div>

        <div class="form-group">
            <label>Phone Number</label>
            <input type="text" class="form-control" name="phonenumber"  [(ngModel)]="friendModel.telephone">
        </div>

        <div class="form-group">
            <label>Favourite Language</label>
            <select class="custom-select" id="language" name="language"  [(ngModel)]="friendModel.language">
                <option value="default">None</option>   
                
            </select>
        </div>

        <button class="btn btn-primary" id="button" type="submit">Submit Form</button>
    </form>
</div>